[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
[submodule "themes/huguette"]
	path = themes/huguette
	url = https://github.com/cathelijne/hugo-theme-huguette.git
